.close-button {
  width: 121px;
  height: 33px;
  margin-top: 5px;
  background: black;
  color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;

  &:hover {
    background: #CCCC00;
    color: black;
    border: 1px solid black;
  }
}
